dj-database-url
Django
gunicorn
psycopg2
whitenoise==3.2
python-decouple==3.1
django-ckeditor
misaka==2.1.0
django-resized==0.3.8
pillow
django-braces
django-anymail==1.2
django-recaptcha2==1.0.3
django-taggit==0.22.1
