{% extends 'home/base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendors/ilightbox/css/ilightbox.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/gallery.css' %}"/>

{% endblock %}
{% block container %}

    {% regroup buildingimages_list|dictsortreversed:'date_build' by date_build|date:'Y' as image_by_year_list %}
    <section class="featured_works row">
        {% for year, image_by_year in image_by_year_list %}
            <div class="tittle wow fadeInUp">
                <h2>{{ year }}</h2>
            </div>
            {% regroup image_by_year by location as image_by_location_list %}
            {% for location, image_by_location in image_by_location_list %}
                <a href="#gallery_light_box" id="{{ image_by_location.0.slug }}"><img
                        src="{{ image_by_location.0.thumb_image.url }}"/></a>
            {% endfor %}
        {% endfor %}
    </section>
    <div id="gallery_light_box" style="display: none;">light box div</div>
{% endblock %}
{% block custom_js %}
    <script type="text/javascript"
            src="{% static 'main/vendors/ilightbox/js/jquery.requestAnimationFrame.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/vendors/ilightbox/js/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/vendors/ilightbox/js/ilightbox.packed.js' %}"></script>
    <script>
        $(document).ready(function () {
            window.prettyPrint && prettyPrint();
            {% regroup buildingimages_list|dictsortreversed:'date_build' by date_build|date:'Y' as image_by_year_list %}
            {% for year, image_by_year in image_by_year_list %}
                {% regroup image_by_year by location as image_by_location_list %}
                {% for location, image_by_location in image_by_location_list %}
                    $('#{{ image_by_location.0.slug }}').click(function () {
                        $.iLightBox([

                                {% for image in image_by_location %}
                                    {
                                        URL: "{{ image.image.url }}",
                                        type: "image",
                                        title: "{{ image.title }}",
                                        caption: "{{ image.description }}",
                                        options: {
                                            thumbnail: "{{ image.thumb_image.url }}",
                                        }
                                    },
                                {% endfor %}
                            ],
                            {
                                skin: "metro-black",
                                path: 'horizontal',
                                overlay: {
                                    opacity: .7,
                                    blur: false
                                },
                                styles: {
                                    nextOpacity: .55,
                                    prevOpacity: .55
                                }
                            })
                    });
                {% endfor %}
            {% endfor %}
        });
        $(window).load(function () {
            $('[data-spy="scroll"]').each(function () {
                var t = $(this);
                t.scrollspy();
                $(window).resize(function () {
                    t.scrollspy('refresh');
                    $(this).trigger('scroll');
                });
            });
        });

        window.___gcfg = {lang: "en"};
        (function () {
            var po = document.createElement("script");
            po.type = "text/javascript";
            po.async = true;
            po.src = "https://apis.google.com/js/plusone.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>

{% endblock %}
