{% extends 'home/base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/cubeportfolio.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/gallery.css' %}"/>

{% endblock %}
{% block container %}
    {% regroup buildingimages_list|dictsortreversed:'date_build' by date_build|date:'Y' as year_list %}
         <section class="featured_works row" data-steelar-background-ratio="0.3"
                 style="background-position: 50% -150px;">
         {% for image_list in year_list %}

            <div class="tittle wow fadeInUp"
                 style="visibility: visible; -webkit-animation-name: fadeInUp;-moz-animation-name: fadeInUp;-o-animation-name: fadeInUp;animation-name: fadeInUp;">
                <h2>{{ image_list.grouper }}</h2>
            </div>
            <div class="featured_gallery">
                {% for image in image_list.list %}
                    {% for location in locations %}
                        {% if location == image.location %}
                            <div class="col-md-3 col-sm-4 col-xl-6 gallery_iner p0">
                                <img src="/media/{{ image.image }}" alt>
                                <div class="gallery_hover">
                                    <h4>{{ location }}</h4>
                                    <a href="{% url 'galleries_app:galleries_detail' image.date_build.year image.location_id %}">View
                                        More</a>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                {% endfor %}
            </div>
         {% endfor %}
        </section>


{#    <section class="gallery">#}
{#        <div id="js-grid-mosaic-flat" class="cbp cbp-l-grid-mosaic-flat cbp-caption-active cbp-caption-fadeIn cbp-ready">#}
{##}
{#            {% for buildingimages in buildingimages_list %}#}
{#                <div class="cbp-item" style="width: 380px;">#}
{#                    <a href="{{ buildingimages.image.url }}" class="cbp-caption cbp-lightbox"#}
{#                       data-title="<h4>{{ buildingimages.title }}</h4>{{ buildingimages.description }}">#}
{#                        <div class="cbp-caption-defaultWrap">#}
{#                            <img src="{{ buildingimages.image.url }}" alt="" data-current="{{ forloop.counter }}">#}
{#                        </div>#}
{#                        <div class="cbp-caption-activeWrap">#}
{#                            <div class="cbp-l-caption-alignCenter">#}
{#                                <div class="cbp-l-caption-body">#}
{#                                    <div class="cbp-l-caption-title">{{ buildingimages.title }}</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </section>#}
{% endblock %}
{% block custom_js %}
    <script type="text/javascript"
            src="{% static 'main/vendors/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'main/js/gallery.js' %}"></script>
{% endblock %}
