{% extends 'home/base.html' %}
{% block custom_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendors/ilightbox/css/ilightbox.css' %}"/>
{% endblock %}
{% block container %}
    <a href="#gallery_box" id="my_gallery"><img
            src="{{ buildingimages_list.0.thumb_image.url }}" data-type="inline"></a>

    <div id="gallery_box" style="display: none;">light box goes here</div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript"
            src="{% static 'main/vendors/ilightbox/js/jquery.requestAnimationFrame.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/vendors/ilightbox/js/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/vendors/ilightbox/js/ilightbox.packed.js' %}"></script>
    <script>
        $('#my_gallery').click(function () {
            $.iLightBox([
                    {% for buildingimages in buildingimages_list %}
                        {
                            url: '{{ buildingimages.image.url }}'
                        },
                    {% endfor %}

                ],
                {
                    skin: 'metro-black',
                    startFrom: 1
                }
            );
        });

    </script>
{% endblock %}

